/* Mobile */
@media (max-width: 430px) {
    footer {
        position: fixed;
        bottom: 4.5rem;
    }

    #hero {
        position: fixed;
        top: 4.2em;
    }

    #products-section {
        position: relative;
        margin-top: 12rem !important;
        padding-bottom: 38rem !important;
    }

    /* #backofficePage {
        margin-top: 3rem !important;
        padding-bottom: 5rem !important;
    } */

}

/* Mobile */
@media (min-width: 431px) and (max-width: 576px) {
    footer {
        position: fixed;
        bottom: 4.5rem;
    }

    #hero {
        position: fixed;
        top: 4.2em;
    }

    #products-section {
        position: relative;
        margin-top: 10rem !important;
        padding-bottom: 10rem !important;
    }

    /* #backofficePage {
        margin-top: 3rem !important;
        padding-bottom: 5rem !important;
    } */


}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {
    footer {
        position: fixed;
        bottom: 4.5rem;
    }

    #hero {
        position: fixed;
        top: 4.3em;
    }

    #products-section {
        position: relative;
        margin-top: 11rem !important;
        padding-bottom: 10rem !important;
    }

    /* #backofficePage {
        margin-top: 3rem !important;
        padding-bottom: 5rem !important;
    } */

}

/* Desktop */
@media (min-width: 993px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #hero {
        position: fixed;
        top: 5rem;
    }

    #products-section {
        position: relative;
        margin-top: 11.5rem !important;
        padding-bottom: 10rem !important;
    }

   /*  #backofficePage {
        margin-top: 5rem !important;
    } */

}



